<html>
  <head>
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <div class="form">
      <h1>Create your account...</h1>
      <form action="{{url_for('createUser',messages="DEFAULT")}}", method='POST'>
        <dl>

          <dt>Userame:</dt>
            {% if inputs['name'] %}
              <dd><input type='text' size='30' name='name' placeholder={{inputs['name']}}></dd>
            {% endif %}
            <dd><input type='text' size='30' name='name'></dd>

          <dt>Email:</dt>
            {% if inputs['email'] %}
              <dd><input type='email' size='30' name='email' placeholder={{inputs['email']}}></dd>
            {% endif %}
            <dd><input type='email' size='30' name='email'></dd>

          <dt>Password:</dt>
          <dd><input type='password' size='20' name='password1'></dd>

          <dt>Repeat Password:</dt>
          <dd><input type='password' size='20' name='password2'></dd>

        </dl>

        <input type='submit' value='Submit'>
        <a href="{{url_for('showCameras')}}">Cancel</a>
      </form>
      <div class="messaging">
      {% if inputs['messages'] %}
        <p><b>{{inputs['messages']}}</b></p>
      {% endif %}
      </div>
    </div>
  </body>
</html>